<?xml version="1.0"?>

<model>
  <name>TurtleBot3 Waffle (VLP-16)</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>taro</name>
    <email>taro@js5.so-net.ne.jp</email>
  </author>

  <description>
    TurtleBot3 Waffle with an added 16-channel 3D LiDAR (Velodyne VLP-16 style),
    publishing PointCloud2 on /lidar/points. Base model by ROBOTIS.
  </description>
</model>
